.logo1 {
    width: 4rem;
}

.etapa {
    margin-bottom: 25px;
}

@media (max-width:767px) {
    .hero-section {
        background-color: #4a4a4a;
    }

    .hero-section .wrapper {
    }
}

.logo2 {
    width: 15rem;
}

.newimg {
    width: 580px !important;
    height: 290px !important;
}