.logo1 {
    width: 4rem;
}

.etapa {
    margin-bottom: 25px;
}

@media (max-width:767px) {
    .hero-section {
        background-color: #4a4a4a;
    }

    .hero-section .wrapper {
    }
}

.logo2 {
    width: 15rem;
}

.newimg {
    padding: 9px;
    margin: 1px;
    min-width: 601px;
    min-height: 308px;
}

.inagen {
    min-height: 133px;
}

@media (max-width:991px) {
    .newimg {
        min-width: 199px;
        min-height: 131px;
        max-width: 217px;
        max-height: 122px;
    }

    .big-gallery .slide img {
        max-width: 245px;
        max-height: 122px;
    }
}